{% extends "base.html" %}

{% block main %}
    <legend>Список инструкторов и их занятий</legend>
    <div style="padding-bottom: 50px">
        <b>Вы можете сменить инструктора, если не записаны на занятие предыдущего, до которого осталось менее суток.</b>
    </div>

    <div style="padding-bottom: 50px">
        {% for instructor in object_list %}
            <div style="padding-bottom: 20px">
                <ul>
                    <li><b>ФИО: </b>{{ instructor.person }}</li>
                    <li><b>Контакты: </b>{{ instructor.person.phone }}</li>
                    <li><b>Автомобиль: </b>{{ instructor.automobile }}</li>
                </ul>
                {% if student.get_instructor == instructor %}
                    <b>Вы закреплены за данным инструктором.</b>
                {% else %}
                    <div  style="margin-left: 20px">
                        <form action='{% url 'change_instructor' %}' method='post'>{% csrf_token %}
                            <input type="hidden" name="instructor_id" id="instructor_id" value="{{ instructor.pk }}">
                            <input type="hidden" name="student_id" id="student_id" value="{{ student.pk }}">
                            <input type="submit" value="Выбрать инструктора" class="btn btn-xs btn-success" />
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <ul>

        </ul>
    </div>


{% endblock %}
